# Unity 관련
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vscode/

# Visual Studio / IDE 관련
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# macOS 관련
.DS_Store

# 패키지 매니저 관련
Packages/manifest.json
Packages/packages-lock.json

